
*.dll
*.cache
XamarinSample/BindingNative.iOS/obj
XamarinSample/BindingNative.iOS/bin
XamarinSample/BindingNative.Android/bin
XamarinSample/BindingNative.Android/obj
XamarinSample/MagicTool.Android/obj
XamarinSample/BindingNative/bin
XamarinSample/BindingNative/obj
XamarinSample/MagicTool/bin
XamarinSample/MagicTool/obj
XamarinSample/.vs

